:root {
  --primary-color: #0B3D2E;     
  --accent1-color: #F1F5F2;      
  --heading-font: "Times New Roman", Georgia, serif;
  --body-font: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
  
}

header, main, footer {
  max-width: 840px;
  margin: 0 auto;
}

main{
  padding: 0px 0px 3px 0px;   
}

header {
  height: 150px;
  border: 3px solid black;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0 1rem;
}

.navegation {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navegation a {
  text-decoration: none;
  color: black;
}

.navegation li {
  background-color: var(--accent1-color);
  flex: 1 1 auto;
  border: 1px solid black;
  padding: 2px; 
}

.logo {
  width: 130px;
  height: auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, article{
  padding: 12px;
}
 
.hero {
  position: relative;
  max-width: 840px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  padding: 16px;
  text-align: center;
  opacity: 0.95;
  color: var(--accent1-color); 
  font-size: 3rem;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  opacity: 0.9;
  color:  var(--accent1-color);
  padding: 16px;
  width: 90%;
  max-width: 800px;
}

.hero article p {
  flex: 2;
  margin-right: 20px;
}

.hero article img {
  flex: 1;
  max-width: 150px;
}

.socialmedia a img{
  width: 30px;
}

.socialmedia a {
  text-decoration: none;
}

footer{
  height: 70px;
  border: 3px solid black;
  display: flex;
  gap: 100px;
  align-items: center;
  padding-left: 200px;
  background-color: var(--primary-color);
  color: var(--accent1-color);
}

.section1 {
  margin-bottom: 3px;
  border: 3px solid black;
}
.section1 h2 {
  text-align: center;
  padding: 7px;
  margin: 7px;
} 
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.image-content {
  max-width: 200px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.content, .text-left,
.text-right {
  text-align: center;
  text-align: justify;
  padding: 0 2rem;
  color: var(--primary-color);
}

.section2 {
  border: 3px solid black;
}

.section2 h2{
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.all-images {
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 8px;         
  color: var(--primary-color);
}  

.all-images figure {
  flex: 0 1 150px;        
}

.all-images img {
  width: 100%;
  height: auto;
}

figcaption{
  padding: 1px;
  text-align: center;
} 



/*contact us page*/

.company-information{
  text-align: center;
  color: var(--primary-color);
  margin-top: 10px;
}

.map-form {
  color: var(--primary-color);
  display: flex;
  margin: 15px 0px 10px 0px

}

.map {
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 5px;
}

.complete-form{
  padding-left: 60px;
  align-items: center;
}

.column {
  display: grid;
  padding: 5px;
  max-width: 100%;
}
.name-email {
  grid-template-columns: 1fr 2fr;
  padding: 5px;
}

.column-radio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 30px;
  justify-content: center;

}

.message{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.message, textarea{
  resize: vertical;
}

.suscription {
  margin: 7px 0px 7px 0px;
}

.complete-form button{
  margin: auto;
  width: 100% ;
  height: 40px;
  font-size: 1.1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}



.all-images-2 {
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 70px;         
  color: var(--primary-color);
}  

.all-images-2 figure {
  flex: 0 1 150px;  
    
}

.all-images-2 img {
  width: 150px;
  height: 115px;
}

/* HOME PAGE*/

.hero .trip-link {
  position: absolute;
  top: 100px;   
  left: 305px;
}

legend{
  font-size: 1.6rem;
  color: var(--accent1-color);
}

.trip-button{
  margin: auto;
  width: fit-content;
  height: auto;
  font-size: 1.1rem;
  border-radius: 2rem;
}


.newsletter h1{
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.newsletter{
  text-align: center;
}

.newsletter div {
  padding: 30px;
}

.newsletter form input[type="text"],
form input[type="email"] {
  font-size: 1.3rem;     
  padding: 13px 17px;    
  width: 260px;          
  border-radius: 0.5rem; 
  border: 1px solid #ccc;
} 

.newsletter form [type= "button"]{
  font-size: 1.5rem;
  padding: 12px 70px;
  border-radius: 2rem;
  border: 2px solid black;
  background: var(--primary-color);
  color: var(--accent1-color);
  margin-bottom: 40px;
}

.grid-images{
  display: grid;
  grid-template-columns: repeat(2, auto); 
  gap: 75px; 
  justify-content: center; 
  padding: 2px;
}

.grid-images img {
  max-width: 370px;
  border-radius: 1rem;
  padding: 3px;
}

.grid-images h3 {
  font-size: 1.7rem;
  max-width: 370px;
  text-align: center;
  padding: 8px;
}

.grid-images .texto {
  max-width: 370px;
  text-align: center;
  padding-bottom: 15px;
}


/*TRIPS PAGE*/



.contact-us h1{
  font-size: 2.5rem;
  padding: 10px;
  
}

.contact-us{
  text-align: center;
}

.contact-us form [type= "button"]{
  font-size: 1.5rem;
  padding: 12px 70px;
  border-radius: 2rem;
  border: 2px solid black;
  background: var(--primary-color);
  color: var(--accent1-color);
  margin: 15px;
}


.grid-images2 {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  gap: 20px; 
  justify-content: center; 
  padding: 2px;
}

.grid-images2 img {
  max-width: 370px;
  border-radius: 1rem;
  padding: 3px;
}

.grid-images2 h3 {
  font-size: 1.9rem;
  max-width: 370px;
  text-align: center;
  padding: 30px;

}

.grid-images2 .texto {
  max-width: 370px;
  text-align: center;
  
}



table {
  border-collapse: collapse;
  border: 2px solid black;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 20px;
}

caption {
  caption-side: bottom;
  padding: 12px;
  font-weight: bold;
  font-style: italic;
}

thead, tfoot {
  background-color: var(--primary-color);
  color: var(--accent1-color);
}

th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}
