* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color: darkblue;
    --color-2: white;


}
nav {
    background-color:var(--color);
    padding: 10px;
}
nav a {
    color: var(--color-2);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--color);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
main {
    max-width: 840px;
    padding: 10px;
}
aside{
    width: 650px;;
    align-content: center;
    position: relative;
}
aside h2{
    color: white;
    position:absolute;
    top: 100px;
    left: 40px;
}
aside img {
    width: 300px;
    height: auto;
}
footer {
    margin-top: 20px;
    border-top: solid #000 ;
    text-align: center;
}
p {
    padding: 0;
}
/* class selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: #d6d5d5;
    color: black;

}